{% extends 'base.html' %}

  {% block body %}
<body class="signup-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/account/welcome">
          Basecode-GT Inc </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons"></i> Apps
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> Flock
              </a>
              <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                <i class="material-icons"></i> Business
              </a>
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> Jobs
              </a>
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> Resavation
              </a>
                    <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> Fashion
              </a>
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> Music
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="material-icons"></i> Pervasive
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./e-shop/index.html" target="_blank">
              <i class="material-icons"></i>shops
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="material-icons"></i> Ads
            </a>
          </li>
                    <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons"></i> Services
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> Design
              </a>
              <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                <i class="material-icons"></i> Marketing
              </a>
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> Mobile and web apps
              </a>
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i> SEO
              </a>
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i>CMS
              </a>
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons"></i>Business processing
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="material-icons"></i>Pricing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="material-icons"></i> API's
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Follow us on linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Checkout our pins">
              <i class="fa fa-pinterest"></i>
            </a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" filter-color="purple" style="background-image: url('../assets/img/bg7.jpg')">

                <div class="container">
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 mr-auto">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Reset Password</h4>
                                    <p class="card-category">We will email your password's reset link to this email address</p>
                                </div>
                                <div class="card-body">
                                  <form method="">
                                    <!-- {% csrf_token %} -->
                                    <!-- {{ form.as_p }} -->
                                      <!-- <div class="row">
                                          <div class="col-md-12">
                                              <div class="form-group bmd-form-group">
                                                  <label class="bmd-label-floating">Enter your email address</label>
                                                  <input type="text" name="password "class="form-control" required>
                                              </div>
                                          </div>
                                      </div> -->
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="form-group bmd-form-group">
                                                <a type="" href="/account/login" class="btn btn-primary"  >Login instead</a>
                                                <button type="submit" class="btn btn-primary">Reset Password</button>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Basecode-GT Globals
              </a>
            </li>
            <li>
              <a href="https://presentation.creative-tim.com">
                About Us
              </a>
            </li>
            <li>
              <a href="https://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="fa fa-heart"> favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Baecode-GT Visuals</a> for a better web.
        </div>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->

</body>
{% endblock %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to the team</h1>
  </body>
</html>
