{% extends 'pervasive/base.html' %}

{% block body %}
{% include 'pervasive/nav/header_nav.html' %}

<br><br><br>
<div class="login-page sidebar-collapse">


  <div class="page-header header-filter" style="background-image: url('/media/img/city-profile.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 ml-auto mr-auto">
            <form class="form" method="POST" enctype="multipart/form-data" action="">
              <div class="card card-login card-hidden">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Reset Password</h4>

                </div>

                {% csrf_token %}
                <div class="container">
                  <p class="card-category">We will email your password's reset link to this email address</p>
                </div>
                  <div class="container">
                      <div class="col-md-12">
                          <div class="form-group bmd-form-group">
                              <label class="bmd-label-floating">Enter your email address</label>
                              <input type="email" name="email" maxlength="254" class="form-control" id="id_email" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">

                  </div>
                  <div class="clearfix"></div>
                  <div class="card-footer justify-content-between">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                          <a type="" href="{% url 'accounts:login' %}" class="btn btn-primary btn-link btn-sm btn-raised btn-round"  >Login instead</a>
                          <button type="submit" class="btn btn-primary btn-link btn-sm btn-raised btn-round">Reset Password</button>
                        </div>
                    </div>
                </div>


              </div>
            </form>

          </div>
        </div>
      </div>
  </div>



</div>


{% endblock %}
