{% extends 'profiles/index/profile_index.html' %}


{% block content %}
<!-- EDIT PROFILE PAGE -->

  <form class="" action="" method="POST" name="admin_form">
    {% csrf_token %}
    <div class="card-header">
      <h5 class="">Edit {{ user|capfirst }}'s Password</h5>
    </div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label for="id_old_password">Old Password</label>
                <input type="password" name="old_password" autofocus required id="id_old_password" class="form-control" placeholder="Old Password..">
              </div>
            </div>
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="id_new_password1">New Password</label>
                <input type="password" name="new_password1" required id="id_new_password1" class="form-control" placeholder="New Password...">
              </div>
            </div>
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="id_new_password2">New Password Confirmation</label>
                <input type="password" name="new_password2" required id="id_new_password2" class="form-control" placeholder="New Password Confirm...">
              </div>
            </div>
          </div>
      </div>
      <div class="card-footer">
        <button type="" onclick="window.history.back();" class="btn btn-primary btn-sm btn-round">back</button>
        <button type="submit" name="submit" class="btn btn-fill btn-round btn-sm btn-primary pull-right">Update Password</button>
      </div>
  </form>

<!-- END PROFILE PAGE -->
{% endblock %}
