{% extends 'profiles/index/profile_index.html' %}

{% block content %}
<div class="">
  <div class="content-center">
    <div class="">
      <br>
        <form method='POST' id="post-product" action='' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row">
          <h4 class="container text-center">Add new Product</h4>
          {% if form.errors %}
          {{ form.non_field_errors }}
          <!-- Tender Video -->
          <div data-notify="container" class="col-xs-11 col-sm-10 alert alert-danger alert-with-icon" role="alert" data-notify-position="top-center" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1060; top: 20px; left: 20px;">
            <button type="button" aria-hidden="true" class="close" data-notify="dismiss" style="position: absolute; right: 10px; top: 50%; margin-top: -13px; z-index: 1062;"><i class="tim-icons icon-simple-remove"></i>
            </button>
            <span data-notify="icon" class="tim-icons icon-bell-55"></span>
             <span data-notify="title"></span> <span data-notify="message"><b>Warning</b>
               <ul style="list-style:none;">
                 <li style="list-style:none;" class="">{{ form.errors }} </li>
               </ul>
             </span>
             <a href="#" target="_blank" data-notify="url"></a>
          </div>
          {% endif %}
          {{ form.media }}
          <div class="col-md-12">
            <label for="upload-video" class="" style="cursor: pointer;">
                <i class="tim-icons icon-upload btn-sm"> upload</i>
            </label>
            <i name="product_video-clear" id="product_video-clear_id" class="tim-icons icon-trash-simple btn-sm float-right" style="cursor: pointer;"> clear</i>
             <br>
            <input type="file" name="product_video" id="upload-video" style="display:none;" accept="video/*" onchange="loadFile(event)">
            <video id="output" data-play="hover" width="100%" height="auto" src="{{ product.product_video.url }}" type="video/*"
              preload loop subtitles srclang="en" controls controlsList="nodownload" poster="">
            </video>
          </div>
          <div class=" container">
            <div class="row container">
              <div class="col-md-12 px-md-1">
                <div class="form-group">
                  <label for="{{ form.product_tittle.id_for_label }}">Product Name</label>
                  {{ form.product_tittle.error }}
                    {{ form.product_tittle }}
                </div>
              </div>
              <div class="col-md-4 px-md-1">
                <div class="form-group">
                  <div class="field-job_type">
                    <div>
                      <label class="required" for="{{ form.product_type.id_for_label }}">Product type:</label>
                          {{ form.product_type.error }}
                          {{ form.product_type }}
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-md-4 px-md-1">
                  <div class="form-group">
                      <label for="{{ form.min_salary.id_for_label }}">Lowest Price </label>
                      {{ form.start_price.error }}
                      {{ form.start_price }}
                  </div>
                </div>
                <div class="col-md-4 px-md-1">
                  <div class="form-group">
                      <label for="{{ form.max_salary.id_for_label }}">Highest Price </label>
                      {{ form.end_price.error }}
                      {{ form.end_price }}
                  </div>
                </div>
              <div class="col-md-12 px-md-1">
                <div class="form-group">
                  <div class="fieldWrapper">
                    <label for="{{ form.content.id_for_label }}">Content </label>
                    {{ form.content }}
                  </div>
                </div>
              </div>
              <button type="submit" name="submit" class="btn btn-sm btn-round raised btn-primary pull-right" onclick="demo.showNotification('top','center')">post</button>

            </div>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>
<script>
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('output');
      if (output.src == ''){
        this.style.display = "none";
      }
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>
{% endblock %}
