
<div class="section">
  <div class="pricing-4" id="pricing-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Pay as you grow </h2>
          <h5 class="description">
            You have Free Unlimited Updates and Premium Support on each package.
            A simple plan where you are billed for exactly what you use.
        </h5>
          <div class="section-space"></div>
        </div>
      </div>
      <div class="pricing-5 section-gray" id="pricing-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h4 class="title">Choose a plan for your next project</h4>
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="nav-item">
                        <a class="nav-link active show" href="#personal" data-toggle="tab">Personal</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#commercial" data-toggle="tab">Commercial</a>
                      </li>
                    </ul>
                    <p class="text-gray">
                      You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund if you're not happy with your purchase.
                      <br><br>
                      <a href="#detailed-comparison" class="link h4 primary">
                        View corporate detailed comparison
                      </a>
                    </p>
                  </div>
                  <div class="col-md-7 ml-auto mr-auto">
                    <div class="tab-content tab-space">
                      <div class="tab-pane active show" id="personal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card card-pricing card-raised bg-rose">
                              <div class="card-body ">
                                <h6 class="card-category">Starter</h6>
                                <h1 class="card-title">
                                  <small>N$</small>0 </h1>
                                <ul style="list-style:none;">
                                  <li>
                                    <b>5</b> Blog posts per year</li>
                                  <li>
                                    <b>2000</b> connections</li>
                                  <li>
                                    <!-- <b>50</b> corporate</li> -->
                                  <li>
                                    <b>3</b> videos</li>
                                </ul>
                                <a href="#pablo" class="btn btn-primary btn-round">
                                  Choose
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card card-pricing card-plain">
                              <div class="card-body ">
                                <h6 class="card-category">Plutinum</h6>
                                <h1 class="card-title">
                                  <small>N$</small>240</h1>
                                <ul style="list-style:none;">
                                  <li>
                                    <b>50</b> Blog posts per year</li>
                                  <li>
                                    <b>unlimited</b> connections</li>
                                  <li>
                                    <b> unlimited</b> views</li>
                                  <li>
                                    <b>unlimited</b> videos</li>
                                </ul>
                                <a href="#pablo" class="btn btn-white btn-round">
                                  Choose
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="commercial">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card card-pricing card-raised">
                              <div class="card-body ">
                                <h6 class="card-category">Starter</h6>
                                <h1 class="card-title">
                                  <small>N$</small>1908</h1>
                                <ul style="list-style:none;">
                                  <li >
                                    <b>2</b> Admanagers</li>
                                  <li>
                                    <b>2</b> Videos</li>
                                  <li>
                                    <b>200 MB</b> Per year</li>
                                  <li>
                                    <b>24</b> Page Examples</li>
                                </ul>
                                <a href="#pablo" class="btn btn-primary btn-round">
                                  Buy Now!
                                <div class="ripple-container"></div></a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card card-pricing card-plain ">
                              <div class="card-body ">
                                <h6 class="card-category">Premium</h6>
                                <h1 class="card-title">
                                  <small>$</small>3588</h1>
                                <ul style="list-style:none;">
                                  <li>
                                    Unlimited  Admanagers
                                  </li>
                                  <li>
                                    <b>15</b> Videos
                                  </li>
                                  <li>
                                    <b>20 GB +</b>  Archive
                                  </li>
                                  <li>
                                    Unlimited emails
                                  </li>
                                  <li>
                                    Attached mails
                                  </li>

                                  <li>
                                    Dashboards
                                  </li>
                                </ul>
                                <a href="#pablo" class="btn btn-white btn-round">
                                  Buy Now!
                                <div class="ripple-container"></div></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>


  <div class="row" id="detailed-comparison">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card card-upgrade" >
        <div class="card-header text-center">
          <h4 class="card-title">Basecode PRO</h4>
            <p class="card-category">Are you looking for more components? Please check our Premium Version of Basecode PRO.</p>
        </div>
        <div class="card-body">
          <div class="table-responsive table-upgrade">
            <table class="table">
              <thead>
                <tr><th></th>
                <th class="text-center">STARTER</th>
                <th class="text-center">PRO</th>
              </tr></thead>
              <tbody>
                <tr>
                  <td>Ad Managers</td>
                  <td class="text-center">2</td>
                  <td class="text-center">4</td>
                </tr>
                <tr>
                  <td>Media and Videos</td>
                  <td class="text-center">7</td>
                  <td class="text-center">Unlimited</td>
                </tr>
                <tr>
                  <td>Basecode Drive</td>
                  <td class="text-center">2 GB</td>
                  <td class="text-center">10 GB + Archive</td>
                </tr>
                <tr>
                  <td>Emails</td>
                  <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i>500</td>
                  <td class="text-center">2000</td>
                </tr>
                <tr>
                  <td>Dropbox and Google drive(coming soon)</td>
                  <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                  <td class="text-center">Unlimited</td>
                </tr>
                <tr>
                  <td>Recycle Bin</td>
                  <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                  <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td>Lock Page </td>
                  <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                  <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td>Dashboards</td>
                  <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                  <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td>Premium Support</td>
                  <td class="text-center"><i class="tim-icons icon-simple-remove text-danger"></i></td>
                  <td class="text-center"><i class="tim-icons icon-check-2 text-success"></i></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="text-center">Just N$ 1980/ Year</td>
                  <td class="text-center">N$ 3588 / Year</td>
                </tr>
                <tr>
                  <td class="text-center"></td>
                  <td class="text-center">
                    <a href="#" class="btn btn-round btn-default disabled">Current Plan</a>
                  </td>
                  <td class="text-center">
                    <a target="_blank" href="#contact-us" class="btn btn-round btn-primary">Upgrade to PRO</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
