
<div class="cd-section" id="testimonials">
  <!--     *********    TESTIMONIALS      *********      -->
  <div class="testimonials-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Our Clients Love Us</h2>
          <h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-testimonial card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" style="border-radius: 50%;width:120px;" src="media/faces/card-profile1-square.jpg">
              </a>
            </div>
            <div class="card-body ">
              <h4 class="card-title">Mike Andrew</h4>
              <h6 class="card-category text-muted">CEO @ Marketing Digital Ltd.</h6>
              <div class="footer">
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
              </div>
              <h5 class="card-description">"I speak yell scream directly at the old guard on behalf of the future. I gotta say at that time I’d like to meet Kanye I speak yell scream directly at the old guard on behalf of the future."
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" style="border-radius: 50%;width:120px;" src="media/faces/card-profile4-square.jpg">
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Tina Thompson</h4>
              <h6 class="card-category text-muted">Marketing @ Apple Inc.</h6>
              <div class="footer">
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
              </div>
              <h5 class="card-description">"I promise I will never let the people down. I want a better life for all!!! Pablo Pablo Pablo Pablo! Thank you Anna for the invite thank you to the whole Vogue team It wasn’t any Kanyes I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling"
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-testimonial card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" style="border-radius: 50%;width:120px;" src="media/faces/christian.jpg">
              </a>
            </div>
            <div class="card-body ">
              <h4 class="card-title">Gina West</h4>
              <h6 class="card-category text-muted">CFO @ Apple Inc.</h6>
              <div class="footer">
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
                <i class="material-icons text-warning">star</i>
              </div>
              <h5 class="card-description">"I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound... Royère doesn't make a Polar bear bed but the Polar bear. This is a very nice testimonial about this company."
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--     *********    END TESTIMONIALS       *********      -->
</div>
