

<div class="features-2">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Why our product is the best</h2>
              <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">group_work</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Collaborate</h4>
                  <p>The moment you use Material Kit, you know you’ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                  <a href="#pablo">Find more...</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-horizontal">
                <div class="icon icon-danger">
                  <i class="material-icons">airplay</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Airplay</h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  <a href="#pablo">Find more...</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-horizontal">
                <div class="icon icon-success">
                  <i class="material-icons">location_on</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Location Integrated</h4>
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  <a href="#pablo">Find more...</a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row"><div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="h5 mb-1">Online business profile</h3>
              <div>Your own business webpage with contact info, products and services
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="h5 mb-1">Directory listings</h3>
              <div>Your business, products and services listed in our online directory
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="h5 mb-1">Advertise promotions</h3>
              <div>Advertise your events, offers and news on our promotion pages
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="h5 mb-1">Ongoing marketing</h3>
              <div>Regular promotion of your business through Facebook, Google and Email
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="h5 mb-1">List products and prices</h3>
              <div>Advertise your products and service packages on our marketplace
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h3 class="h5 mb-1">Printed directory</h3>
              <div>Placement in annual printed business directory
              </div>
            </div>
          </div>
        </div>
      </div>
