
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'accounts/assets/img/apple-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'accounts/assets/img/favicon.png' %}">
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/font-awesome/css/font-awesome.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/font-awesome/css/font-awesome.min.css' %}" >
<!-- Material Kit CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'pervasive/assets/css/material-kit.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'pervasive/assets/css/material-kit.min.css' %}" >
<!-- <link rel="stylesheet" type="text/css" href="{% static 'profiles/assets/css/rotating-card.css' %}" > -->
