<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <h2 class="title">Events</h2>
    <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
  </div>
</div>

{% for org in orgnization %}
<div class="col-md-4">
  <div class="card">
    <div class="card-header card-header-icon card-header-rose">
      <div class="card-icon">
        <!-- point to the job owner's profile -->
        <a style="color:#ffffff;" href="">{{ org.user|capfirst }} <span class="badge float-right">pro</span></a>
      </div>
    </div>
    <br>
    <a href="">
      <video class="img img-raised" muted="muted" width="100%" height="auto" src="{{ org.about_video.url }}" type="video/*"
        preload controlsList="nodownload" poster="">
      </video>
    </a>
      <h4 class="card-title"><!-- point to the job owner's profile -->
        <a href="">{{ org.user|capfirst }}
        </a>
        <!-- Show business type type,,, change to link and retreave same job type -->
        | {{ org.get_business_type_display }}</h4>
        <br>
  </div>
</div>
{% endfor %}
