{% extends 'profiles/index/profile_index.html' %}


{% block content %}
<div class="card-body">
  <br>
  <div class="row">
    <div class="col-md-12">
      <!-- ALL services client VIEW -->
      <span class="current text-center">
        <h4 class=" text text-muted"> {{ service.service_tittle }} | {{ service.created|timesince }} ago</h4>
      </span>
      <div class="dropdown float-right">
        <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown" aria-expanded="false">
          <i class="tim-icons icon-settings-gear-63"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; transform: translate3d(-122px, 22px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" href="{% url 'services:add_service' %}">New</a>
          <a class="dropdown-item" href="{% url 'services:update_service' slug=service.slug %}">Edit</a>
          <a class="dropdown-item" href="{% url 'services:add_service' %}">Delete</a>
          <!-- <a class="dropdown-item" href="">Top viewed</a>
          <a class="dropdown-item" href="#pablo">Most applied</a>
          <a class="dropdown-item" href="#pablo">Old</a> -->
        </div>
      </div>
      <br>
        {% include 'profiles/adclass/services/rotate_service.html' %}
          <div class="card-description">
          {% include 'profiles/adclass/services/requested_service.html' %}
          {% include 'profiles/adclass/services/share_service.html' %}
        </div>
        <br>
              <!-- BOTTOM PAGINATION -->
              <!--  include 'services/pagination.html' -->
            <!-- END BOTTOM PAGINATION -->
          <!-- END ALL services VIEW -->

        <div class="content-center container">
          <div class="card-description">
            <br><br>
            <h4 class="description text-muted">About Pervasive services</h4>
          </div>
        </div>
      <!-- END MAIN PAGE services -->
    </div>
  </div>
</div>
{% endblock %}
